<div class="modal-header">
    <a class="close" ng-click="$dismiss()">&times;</a>
    <h4 class="modal-title">About /middle/</h4>
</div>
<div class="modal-body">
    <uib-carousel active="activeSlide" no-wrap="true">
        <uib-slide index="0">
            <h3>/middle/</h3>
            <p class="margin-bottom-lg">Welcome to /middle/! Need to meet up with a group of disparate people? This
                web application collects geocodes from multiple users and finds their geographic center. This way
                you can make the
                ultimate compromise in finding restaurants or venues to meet at.</p>
        </uib-slide>
        <uib-slide index="1">
            <h3>Getting Started</h3>
            <p class="margin-bottom-lg">When you first open the application, it opens the Group List screen. This
                screen shows you any past searches that you've initiated or been invited to. From here, you can
                create a new Group, or
                reminisce about earlier ones.</p>
        </uib-slide>
        <uib-slide index="2">
            <h3>Creating a Group</h3>
            <p class="margin-bottom-lg">Each Group requires a name. This makes it easier to quickly identify Groups
                at a glance. The Group name shows up in the Group List and Group Details screens. Once you've
                decided on your creative
                name, click the Go! button to enter the Group Details screen.</p>
        </uib-slide>
        <uib-slide index="3">
            <h3>Group Details</h3>
            <p class="margin-bottom-lg">Here's where the magic begins! Copy the link at the top of the screen and
                send it to your friends! As more people join the Group, their locations get added to the map, and
                the geographic center is
                calculated. You can change the algorithm used to determine the center, and you can toggle people on
                or off the map.</p>
        </uib-slide>
    </uib-carousel>
</div>
<div class="modal-footer"></div>