<div class="modal-header">
    <a class="close" ng-click="$dismiss()">&times;</a>
    <h4 class="modal-title">Create a group</h4>
</div>
<div class="modal-body">
    <form name="createGroupForm" class="form" novalidate="novalidate">
        <div class="form-group has-feedback"
             ng-class="{'has-error': createGroupForm.$dirty && createGroupForm.$invalid, 'has-success': createGroupForm.$dirty && createGroupForm.$valid}">
            <label class="control-label">Name</label>
            <input class="form-control" required="required" ng-model="groupName"/>
            <i class="glyphicon form-control-feedback"
               ng-class="{'glyphicon-remove': createGroupForm.$invalid, 'glyphicon-ok': createGroupForm.$valid}"
               ng-if="createGroupForm.$dirty"></i>
            <p class="help-block">Enter a name to identify your group.</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <a href="" class="btn btn-default" ng-click="$dismiss()">Cancel</a>
    <button class="btn btn-success" ng-disabled="createGroupForm.$invalid || isCreatingGroup"
            ng-click="userDidCreateGroup()" loading-button="'Go!'" is-loading="isCreatingGroup"></button>
</div>