<div ng-controller="GroupDetailsController">
    <div class="input-group margin-bottom-md"><input class="form-control" readonly="readonly" ng-model="copyUrl"/><span
            class="input-group-btn"><button
            class="btn btn-default" clipboard="" text="copyUrl" on-copied="copyDidSucceed()"
            on-failed="copyDidFail(err)" uib-tooltip="Copied!" tooltip-is-open="showCopySuccessTooltip"
            tooltip-trigger="none"><i class="glyphicon glyphicon-copy margin-right-sm"></i>Copy me!
    </button></span></div>
    <div id="group-details-map" class="margin-bottom-md" middle-map="selectedGroup.members"
         algorithm="selectedAlgorithm"></div>
    <div class="text-right margin-bottom-md">
        <label class="margin-right-sm">
            <span ng-if="!selectedAlgorithm.link">Algorithm:</span>
            <a href="" title="Learn more about this algorithm" ng-click="openNew(selectedAlgorithm.link)"
               ng-if="selectedAlgorithm.link">Algorithm:</a>
        </label>
        <div class="btn-group" uib-dropdown="">
            <button class="btn btn-info">{{ selectedAlgorithm.name | capitalize }}</button>
            <button class="btn btn-info" uib-dropdown-toggle=""><span class="caret"></span></button>
            <ul uib-dropdown-menu="">
                <li ng-repeat="algorithm in algorithms"><a href="" ng-click="selectAlgorithm(algorithm)">{{
                    algorithm.name |
                    capitalize }}</a></li>
            </ul>
        </div>
    </div>
    <spinner ng-if="isLoadingMembers"></spinner>
    <uib-alert type="info" ng-if="!isLoadingMembers && selectedGroup.members.length === 0">No members yet.</uib-alert>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="member in selectedGroup.members | orderBy : 'ts' : true">
            <h5>
                <button class="btn btn-default btn-xs margin-right-sm" ng-if="isSelf(member)"
                        ng-click="resendPosition()"
                        loading-button="'Resend position'" is-loading="isLoadingPosition"></button>
                <strong>{{ member.username }}</strong>
                <small>({{ member.lastUpdatedTs | date : 'mediumTime' }})</small>
            </h5>
        </div>
    </div>
</div>