<div ng-controller="GroupListController">
    <div class="text-center margin-bottom-md"><a href="" class="btn btn-lg btn-primary" ng-click="showCreateGroup()">Create a
        new
        group</a></div>
    <div class="list-group">
        <a class="list-group-item" ng-repeat="group in groups" ui-sref="groupDetails({ groupId: group.id })">
            <h5><span class="badge">{{ group.ts
            | groupListDate }}</span> {{ group.name }} <small>({{ group.numMembers | members }})</small></h5></a>
    </div>
</div>